.wmList {
  width: 30%;
  margin-top: 49px;
  position: fixed;
  height: calc(100% - 49px);
}

.wmContentContainer{
  width: 70%;
  margin-top: 50px;
  margin-left: 30%;
  height: calc(100% - 50px)!important;
  position: fixed;
}

.wmContent{
  /*- height of search and actions*/
  height: calc(100% - 67px - 46px);
}

.wmSearch {
  height: 67px;
}
