
.wmListItem {
  border-radius: 0;
  border-left: 0;
  font-size: 12px;
}

.wmListItem:not(.active):hover {
  background-color: rgba(255, 135, 0, 0.21);
  cursor: pointer;
}

.wmListItemTitle {
  font-weight: bold;
  word-break: break-word;
}

.wmListItemSubtitle {
  word-break: break-word;
}
