<ngb-pagination *ngIf="filteredItems?.length > 0" [collectionSize]="items?.length" [pageSize]="pageSize" [size]="'sm'" [page]="page"
                (pageChange)="onPageChange($event)"></ngb-pagination>
<div *ngIf="filteredItems?.length > 0" class="wmHolyGrailScroll">
  <ul class="list-group wmListGroup">
    <li class="list-group-item wmListItem" *ngFor="let item of filteredItems" [class.active]="item === activeItem"
        (click)="selectActiveItem(item)">
      <div class="wmListItemTitle">{{item.getTitle()}}</div>
      <div class="wmListItemSubtitle">{{item.getSubtitle()}}</div>
    </li>
  </ul>
</div>
