version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10

- package-ecosystem: gradle
  directory: "/wiremock-url"
  ignore:
    - dependency-name: "com.fasterxml.jackson.core:jackson-core"
    - dependency-name: "com.fasterxml.jackson.core:jackson-databind"
