pre{
  margin: 0;
}

.wmCode{
  min-height: 17px;
  white-space: pre-wrap;
  word-break: break-all;
}

.wmUrlQueryParam{
  min-height: 17px;
}

.wmUrlQueryParam tr td, .wmUrlQueryParam tr th {
  padding-right: 10px;
}
