<div>
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <span class="h1">Overview</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 dashboard-item">
            <span class="dashboard-item-title">Requests Served</span>
            <img class="dashboard-item-img" src="resources/dashboard.png">
            <span class="dashboard-label" count-to="{{mockReqCount}}" value="0" duration="0.5"></span>
        </div>
        <div class="col-md-6 dashboard-item">
            <span class="dashboard-item-title">Total Available Mocks</span>
            <img class="dashboard-item-img" src="resources/jester.png">
            <span class="dashboard-label" count-to="{{availableMockCount}}" value="0" duration="0.5"></span>
        </div>
    </div>
</div>