<div *ngIf="pager.pages && pager.pages.length" class="wmPagination">
  <a class="wmPageItem" (click)="setPage(1)" [class.wmPageDisabled]="pager.currentPage === 1"><md-icon>first_page</md-icon></a>
  <a class="wmPageItem" (click)="setPage(pager.currentPage - 1)" [class.wmPageDisabled]="pager.currentPage === 1"><md-icon>navigate_before</md-icon></a>
  <a class="wmPageItem" *ngFor="let page of pager.pages" (click)="setPage(page)" [class.wmPageActive]="page == pager.currentPage">{{page}}</a>
  <a class="wmPageItem" (click)="setPage(pager.currentPage + 1)" [class.wmPageDisabled]="pager.totalPages == pager.currentPage"><md-icon>navigate_next</md-icon></a>
  <a class="wmPageItem" (click)="setPage(pager.totalPages)" [class.wmPageDisabled]="pager.totalPages == pager.currentPage"><md-icon>last_page</md-icon></a>
</div>
<md-nav-list class="wmNavList">
  <wm-list-entry *ngFor="let item of pagedItems; let i = index" [first]="i == 0" [item]="item" [selected]="isSelected(item)" (onSelect)="itemSelected(item, i)"></wm-list-entry>
</md-nav-list>
