<wm-tab-view>
  <wm-tab-view-raw>
    <wm-code-entry [type]="'code'" [code]="code" [language]="json"></wm-code-entry>
  </wm-tab-view-raw>
  <wm-tab-view-separated>
    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderFirst">
        <md-card-title>General</md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="getGeneral()"></wm-code-entry-list>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderSecond">
        <md-card-title>Request</md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="getRequest()"></wm-code-entry-list>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderThird">
        <md-card-title>Response Definition</md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="getResponseDefinition()"></wm-code-entry-list>
      </md-card-content>
    </md-card>
  </wm-tab-view-separated>
</wm-tab-view>
