@import "../wiremock-theme.scss";

md-card.mat-card{
  padding: 0;
  margin-bottom: 10px;
}

md-card-header.mat-card-header{
  padding: 10px;
  background-color: $primary-selected-background;
  color: $primary-selected-foreground;
}

md-card-title.mat-card-title{
  margin: 0;
}
