md-card.mat-card{
  padding: 0;
  margin-bottom: 10px;
}

md-card-header.mat-card-header{
  padding: 10px;
  background-color: darkblue;
  color: white;
}

md-card-title.mat-card-title{
  margin: 0;
}
