<md-card *ngIf="isVisible()">
  <md-card-header>
    <md-card-title>General</md-card-title>
  </md-card-header>
  <md-card-content>
    <wm-code-entry-list [entries]="getGeneral()"></wm-code-entry-list>
  </md-card-content>
</md-card>

<md-card *ngIf="isVisible()">
  <md-card-header>
    <md-card-title>Request</md-card-title>
  </md-card-header>
  <md-card-content>
    <wm-code-entry-list [entries]="getRequest()"></wm-code-entry-list>
  </md-card-content>
</md-card>

<md-card *ngIf="isVisible()">
  <md-card-header>
    <md-card-title>Response Definition</md-card-title>
  </md-card-header>
  <md-card-content>
    <wm-code-entry-list [entries]="getResponseDefinition()"></wm-code-entry-list>
  </md-card-content>
</md-card>
