@import "bootstrapCustom";

.tab-pane {
  display: flex!important;
  flex: 1;
}

.wmTabs > .nav {
  margin: 0;
  padding: .5rem 1.25rem 0;
}

.hidden {
  display: none !important;
}

.wmFormGroupLeft, .wmFormGroupMid, .wmFormGroupRight {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;

  > .form-control {
    padding-right: 15px;
  }
}

.wmFormGroupRight, .wmFormGroupMid {
  > .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.wmFormGroupLeft, .wmFormGroupMid {
  > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#wmSearchClear {
  position: absolute;
  display: flex;
  align-items: center;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  z-index: 10;
}

.wmTextArea {
  width: 100%;
  height: 100%;
  //height: auto;
  padding: 0.5em;
  font-size: 14px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border: 0;
  white-space: pre-wrap;
  word-break: break-all;
  resize: none;
}

/* TEST */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wmHolyGrailBody, .wmTabs > .tab-content, .wmTabs > .tab-content > .tab-pane {
  display: flex;
  flex: 1;
  &.column {
    flex-direction: column;
  }
}

.wmHolyGrailScroll {
  //height: 100%;
  //width: 100%;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  > * {
    position: absolute;
    width: 100%;
    min-height: 100%;
    //flex-grow: 1;
  }
}

.card-body {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* pagination responsive */

.pagination {
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
  margin: 0 0 -1px;
}

.pagination a {
  border-top: 0 !important;
  text-align: center !important;
  border-radius: 0 !important;
}

.page-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 600px) {
  .pagination li {
    min-width: 20%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .pagination li {
    width: 20%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1600px) {
  .pagination li {
    width: 10%;
  }
}

@media screen and (min-width: 1601px) {
  .pagination li {
    width: 5%;
  }
}

/* dropdown menu */
.dropdown-menu > button {
  cursor: pointer;
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 1s; /* Adjust this duration */
}

.popover {
  animation-name: delayedFadeIn;
  animation-duration: 2s; /* Adjust this duration */
}

.blinkMe {
  animation: blinker 2s linear infinite;
}

.modal-h70 .modal-content {
  min-height: 70%;
}


// Ace-Editor
.ace_search_form {
  display: flex;
}

.ace_replace_form {
  display: flex;
}

.ace_searchbtn {
  display: flex!important;
  align-items: center;
}

// Firefox specific

.modal-dialog {
 height: calc(100% - 2*1.75rem);
}

