<ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
  <li [ngbNavItem]="'tab-raw'" [disabled]="rawDisabled">
    <a ngbNavLink>Raw</a>
    <ng-template ngbNavContent>
      <ng-content select="wm-raw-separated-raw"></ng-content>
    </ng-template>
  </li>
  <li [ngbNavItem]="'tab-separated'" [disabled]="separatedDisabled">
    <a ngbNavLink>Separated</a>
    <ng-template ngbNavContent>
      <ng-content select="wm-raw-separated-separated"></ng-content>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="navPaneContainer wmHolyGrailBody"></div>
