@import "../wiremock-function";

@mixin wm-mapping-view-theme($theme){

  $background: mat-color(map-get($theme, background), 'card');
  $foreground: map-get($theme, foreground);

  $is-dark-theme: map-get($theme, is-dark);
  $border: 1px solid if($is-dark-theme, rgba(map-get(wiremock-theme($theme), 'foregroundLight'), 0.3), rgba(0, 0, 0, 0.2));

  .wmActionToolbar{
    //color: mat-color($foreground, text);
    background-color: if(map-get($theme, is-dark), lighten($background, 10), darken($background, 5));
  }

  .wmEditTextArea{
    background-color: $background;
    color: mat-color($foreground, text);
  }

  .wmTabSpacer{
    border-bottom: $border;
  }

}
