@import "../wiremock-function";

@mixin wm-mapping-view-theme($theme){

  $background: mat-color(map-get($theme, background), 'card');
  $foreground: map-get($theme, foreground);

  .wmActionToolbar{
    //color: mat-color($foreground, text);
    background-color: if(map-get($theme, is-dark), lighten($background, 10), darken($background, 5));
  }

  .wmEditTextArea{
    background-color: $background;
    color: mat-color($foreground, text);
  }

}
