<wm-tab-view *ngIf="selectedMatched">
  <wm-tab-view-raw>
    <wm-code-entry [type]="'code'" [code]="code" [language]="json"></wm-code-entry>
  </wm-tab-view-raw>
  <wm-tab-view-separated>
    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderFirst">
        <md-card-title><b>General</b></md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="general"></wm-code-entry-list>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderSecond">
        <md-card-title><b>Request</b></md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="request"></wm-code-entry-list>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isVisible()">
      <md-card-header class="wmHeaderThird">
        <md-card-title><b>Response Definition</b></md-card-title>
      </md-card-header>
      <md-card-content>
        <wm-code-entry-list [entries]="responseDefinition"></wm-code-entry-list>
      </md-card-content>
    </md-card>
  </wm-tab-view-separated>
</wm-tab-view>
