<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  <listener>
  	<display-name>wiremock-startup-listener</display-name>
  	<listener-class>com.github.tomakehurst.wiremock.servlet.WireMockWebContextListener</listener-class>
  	<description>Loads WireMock and populates the servlet context with its services</description>
  </listener>
  
  <context-param>
  	<param-name>WireMockFileSourceRoot</param-name>
  	<param-value>/WEB-INF/wiremock</param-value>
  </context-param>

  <context-param>
    <param-name>verboseLoggingEnabled</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>wiremock-mock-service-handler-servlet</servlet-name>
  	<servlet-class>com.github.tomakehurst.wiremock.servlet.HandlerDispatchingServlet</servlet-class>
  	<init-param>
  		<param-name>RequestHandlerClass</param-name>
  		<param-value>com.github.tomakehurst.wiremock.http.StubRequestHandler</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>wiremock-mock-service-handler-servlet</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>wiremock-admin-handler-servlet</servlet-name>
  	<servlet-class>com.github.tomakehurst.wiremock.servlet.HandlerDispatchingServlet</servlet-class>
  	<init-param>
  		<param-name>RequestHandlerClass</param-name>
  		<param-value>com.github.tomakehurst.wiremock.http.AdminRequestHandler</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>wiremock-admin-handler-servlet</servlet-name>
  	<url-pattern>/__admin/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.json</welcome-file>
  	<welcome-file>index.xml</welcome-file>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.txt</welcome-file>
  </welcome-file-list>
  
  <mime-mapping>
  	<extension>json</extension>
  	<mime-type>application/json</mime-type>
  </mime-mapping>
  <mime-mapping>
  	<extension>xml</extension>
  	<mime-type>application/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
  	<extension>html</extension>
  	<mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
  	<extension>txt</extension>
  	<mime-type>text/plain</mime-type>
  </mime-mapping>
  
</web-app>