<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#"><img id="wmLogo" [src]="'assets/img/wiremock-concept-icon-01.png'">Wiremock</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent"
          [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <fa-icon icon="bars"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/mappings">Mappings</a>
        <!--<a class="nav-link" *ngIf="!isActive('/mappings')" routerLink="/mappings">Mappings</a>-->
        <!--<a class="nav-link active" *ngIf="isActive('/mappings')">Mappings</a>-->
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="!isActive('/matched')" routerLink="/matched">Matched</a>
        <a class="nav-link active" *ngIf="isActive('/matched')">Matched</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" *ngIf="!isActive('/unmatched')" routerLink="/unmatched">Unmatched</a>
        <a class="nav-link active" *ngIf="isActive('/unmatched')">Unmatched</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
