.mocklab-popup {
  width: 400px !important;
  maxWidth: 800px !important;

  @include breakpoint($small) {
    width: 600px !important;
  }

  .ui-dialog-titlebar {
    background: none !important;
    border: 0 !important;
  }
}

.mocklab-popup__title {
  margin-top: 0;
}

.mocklab-popup__confirm-button {
  border: 1px solid #ffaf0f !important;
	background: #FF9800 url("/images/ui-bg_inset-soft_30_FF9800_1x100.png") 50% 50% repeat-x  !important;

  .ui-button-text {
    font-weight: bold;
  }
}
