@import "../wiremock-function";

@mixin wm-search-theme($theme){

  $background: mat-color(map-get($theme, background), 'card');
  $foreground: map-get($theme, foreground);

  /*We need to set this because of currentColor*/
  .wmSearchForm{
    color: mat-color($foreground, text);
    background-color: if(map-get($theme, is-dark), lighten($background, 10), darken($background, 5));
  }

  .wmSearchClear:hover{
    color: map-get(wiremock-theme($theme), primary);
  }
}
