.wmSearchForm{
  padding: 0 10px;
}

.wmSearchContainer{
  display: flex;
  justify-items: center;
  align-items: center;
}

.wmSearchInputContainer{
  flex-grow: 1;
  margin-right: 10px;
}

.wmSearchIcon{
  margin-right: 5px;
}
