.wmSeparatedWrapper {
  padding: 0.25em;
}

.card-body {
  padding: 0;
}

.table tr > td:not(:first-child) {
  padding: 0;
  background-color: #232323;
}

.table tr > td:first-child {
  word-break: break-word;
}

.wmTableColumnKey {
  width: 150px;
}

.wmTableColumnValue ::ng-deep code {
  max-height: 500px;
}

.wmStubMappingLink {
  display: inline-block;
  padding: 7px;
}
