/* You can add global styles to this file, and also import other style files */
@import "app/wiremock-theme.scss";

html, body, #wmRoot{
  height: 100%;
  width: 100%;
}

#wmRoot{
  display: block;
}

body{
  margin: 0;
}

wm-list-view {
  display: block;
}

wm-list-view-content{
  display: block;
  height: 100%;
}

wm-tab-view{
  display: block;
  height: 100%;
}

.wmTabGroup{
  height: 100%;
}

wm-list-view > div {
  flex-grow: 1;
}

.pagerMaxItemsPerPage .mat-select-trigger{
  min-width: 50px!important;
  max-width: 50px!important;;
  width: 50px!important;;
}

.pagerMaxItemsPerPage .mat-select-value{
  padding-left: 4px!important;
}

.mat-list-item-content{
  height: auto! important;
  min-height: 32px;
  padding: 8px!important;
}

.mat-nav-list{
  padding: 0!important;
}

@font-face {
  /*Sadly npm was not working while i tried it. Therefore I added them to assets.*/
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
