<wm-layout [items]="result?.mappings" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)">
  <wm-layout-action-buttons>
    <div class="btn-group" role="group" aria-label="Basic example">
      <ng-container *ngIf="editMode === State.NEW">
        <button type="button" class="btn btn-secondary" (click)="saveNewMapping()">
          <fa-icon icon="save"></fa-icon>
          Save
        </button>
      </ng-container>
      <ng-container *ngIf="editMode === State.EDIT">
        <button type="button" class="btn btn-secondary" (click)="saveEditMapping()">
          <fa-icon icon="save"></fa-icon>
          Save
        </button>
      </ng-container>
      <ng-container *ngIf="editMode === State.EDIT || editMode === State.NEW">
        <div ngbDropdown class="btn-group" role="group">
          <button id="wmHelperDrop" type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
            Helpers
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <button type="button" class="dropdown-item" (click)="helpersAddDelay()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Delay
            </button>
            <button type="button" class="dropdown-item" (click)="helpersAddPriority()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Priority
            </button>
            <button type="button" class="dropdown-item" (click)="helpersAddHeaderRequest()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Request Header
            </button>
            <button type="button" class="dropdown-item" (click)="helpersAddHeaderResponse()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Response Header
            </button>
            <button type="button" class="dropdown-item" (click)="helpersAddScenario()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Scenario
            </button>

            <div class="dropdown-divider"></div>

            <button type="button" class="dropdown-item" (click)="helpersAddProxyUrl()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Proxy URL
            </button>
            <button type="button" class="dropdown-item" (click)="helpersAddProxyHeader()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Proxy Header
            </button>

            <div class="dropdown-divider"></div>
            <button type="button" class="dropdown-item" (click)="helpersAddTransformer()">
              <fa-icon icon="sync-alt"></fa-icon>
              Add Transformer
            </button>


          </div>
        </div>


        <button type="button" class="btn btn-secondary" (click)="editMode = State.NORMAL">
          <fa-icon icon="times"></fa-icon>
          Cancel
        </button>
      </ng-container>


      <ng-container *ngIf="editMode === State.NORMAL">
        <button type="button" class="btn btn-secondary" (click)="newMapping()">
          <fa-icon icon="plus"></fa-icon>
          New
        </button>
        <button type="button" class="btn btn-secondary" (click)="editMapping()" [disabled]="!activeItem">
          <fa-icon icon="pencil-alt"></fa-icon>
          Edit
        </button>
        <button type="button" class="btn btn-secondary" (click)="removeMapping()" [disabled]="!activeItem">
          <fa-icon icon="trash"></fa-icon>
          Remove
        </button>
        <div ngbDropdown class="btn-group" role="group">
          <button id="wmMappingsDrop" type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
            Mappings
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <button type="button" class="dropdown-item" (click)="saveMappings()">
              <fa-icon icon="save"></fa-icon>
              Save Mappings
            </button>
            <button type="button" class="dropdown-item" (click)="resetMappings()">
              <fa-icon icon="sync-alt"></fa-icon>
              Reset Mappings
            </button>
            <div class="dropdown-divider"></div>
            <button type="button" class="dropdown-item" (click)="removeAllMappings()">
              <fa-icon icon="trash"></fa-icon>
              Remove all Mappings
            </button>
          </div>
        </div>
        <div ngbDropdown class="btn-group" role="group">
          <button id="wmScenarioDrop" type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
            Scenarios
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <button type="button" class="dropdown-item" (click)="resetAllScenarios()">
              <fa-icon icon="sync-alt"></fa-icon>
              Reset all Scenarios
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </wm-layout-action-buttons>

  <wm-layout-content>
    <wm-raw-separated [separatedDisabled]="!activeItem">
      <wm-raw-separated-raw>
        <ng-container *ngIf="editMode === State.NORMAL">
          <wm-code-entry [code]="activeItem?.getCode()" [language]="'json'"></wm-code-entry>
        </ng-container>
        <ng-container *ngIf="editMode === State.NEW">
          <textarea spellcheck="false" class="wmTextArea" *ngIf="editMode === State.NEW" [(ngModel)]="newMappingText"></textarea>
        </ng-container>
        <ng-container *ngIf="editMode === State.EDIT">
          <textarea spellcheck="false" class="wmTextArea" *ngIf="editMode === State.EDIT" [(ngModel)]="editMappingText"></textarea>
        </ng-container>
      </wm-raw-separated-raw>
      <wm-raw-separated-separated>
        <wm-separated *ngIf="activeItem" [activeItem]="activeItem"></wm-separated>
      </wm-raw-separated-separated>
    </wm-raw-separated>

  </wm-layout-content>

</wm-layout>

