#wmListView {
  width: 30%;
  margin-top: -1px;
}

#wmContainer {
  width: 70%;
}

#wmContainer, #wmControlContainer {
  display: flex;
  flex-direction: column;
}

#wmCaseSensitiveSearchText {
  user-select: none;
}

#wmTabContent {
  flex: 1;
  display: flex;
  margin-top: -1px;
}

.wmNavLink {
  padding: 5px 10px;
}


