<div id="wmListView" class="wmHolyGrailBody">
  <div *ngIf="supportsTreeView" class="wmHolyGrailBody column mt-1">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" [animation]="false">
      <li [ngbNavItem]="0">
        <a ngbNavLink class="wmNavLink">
          <fa-icon icon="folder"></fa-icon>
          Directory</a>
        <ng-template ngbNavContent>
          <wm-tree-view [items]="filteredItems" [activeItem]="activeItem"
                        (activeItemChange)="onActiveItemChange($event)"></wm-tree-view>
        </ng-template>
      </li>
      <li [ngbNavItem]="1">
        <a ngbNavLink class="wmNavLink">
          <fa-icon icon="list"></fa-icon>
          List</a>
        <ng-template ngbNavContent>
          <wm-list-view [items]="filteredItems" [activeItem]="activeItem"
                        (activeItemChange)="onActiveItemChange($event)"></wm-list-view>
        </ng-template>
      </li>
    </ul>
    <div id="wmTabContent" [ngbNavOutlet]="nav"></div>
  </div>
  <wm-list-view *ngIf="!supportsTreeView" [items]="filteredItems" [activeItem]="activeItem"
                (activeItemChange)="onActiveItemChange($event)"></wm-list-view>
</div>

<div id="wmContainer">

  <div id="wmControlContainer">
    <nav class="navbar navbar-light bg-light">
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon class="input-group-text" icon="search" ngbTooltip="Search in all items"></fa-icon>
        </div>
        <!--<div class="wmFormGroup">-->
        <div class="wmFormGroupMid">
          <input #wmSearchInput type="text" class="form-control" [formControl]="search"
                 placeholder="Enter expression or text here.">
          <fa-icon id="wmSearchClear" icon="times" class="form-control-clear form-control-feedback"
                   [class.hidden]="!searchClearVisible" (click)="clearSearch()"></fa-icon>
        </div>
        <!--</div>-->
        <div class="input-group-append">
          <div class="input-group-text">
            <div class="custom-control custom-checkbox" ngbTooltip="case sensitive">
              <input #wmCaseSensitiveSearch type="checkbox" class="custom-control-input" id="wmCaseSensitiveSearch"
                     [checked]="caseSensitiveSearchEnabled"
                     (change)="onCaseSensitiveChanged()">
              <label class="custom-control-label" for="wmCaseSensitiveSearch"
                     id="wmCaseSensitiveSearchText">{{caseSensitiveSearchEnabled
                ? 'Ab' : 'ab'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-light bg-light">
      <ng-container [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{$implicit: activeItem}"></ng-container>
    </nav>
  </div>

  <div id="wmContent" class="wmHolyGrailBody">
    <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{$implicit: activeItem}"></ng-container>
  </div>
</div>


