<wm-list-view [items]="unmatchedResult?.requests" (onSelect)="setSelectedMatched($event)">
  <wm-list-view-content>
    <wm-unmatched [selectedUnmatched]="selectedUnmatched"></wm-unmatched>
  </wm-list-view-content>
  <wm-list-view-actions>
    <div class="wmActionToolbar">
      <button md-raised-button (click)="copyMapping()" [disabled]="!selectedUnmatched"><md-icon class="material-icons">assignment</md-icon> Copy Mapping</button>
      <button md-raised-button (click)="copySoapMapping()" [disabled]="!selectedUnmatched || !isSoapRequest()"><md-icon class="material-icons wmTwoIconFirst">assignment</md-icon><md-icon class="material-icons wmTwoIconSecond">opacity</md-icon> Copy Soap Mapping</button>
      <button md-raised-button (click)="resetJournal()"><md-icon class="material-icons">delete</md-icon> Reset Journal</button>
    </div>
  </wm-list-view-actions>
</wm-list-view>
