@import '../wiremock-theme.scss';



.selected{
  background-color: $primary-selected-background;
  color: $primary-selected-foreground;
}

.selected:hover{
  background-color: $primary-selected-background;
  color: $primary-selected-foreground;
}
