#wmWrapper {
  display: flex;
}

#wmListView {
  width: 30%;
}

#wmContainer {
  width: 70%;
}

#wmContainer, #wmControlContainer {
  display: flex;
  flex-direction: column;
}

#wmCaseSensitiveSearchText {
  user-select: none;
}
