:host{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal-body {
  padding: 0;
}

wm-code-editor{
  position: absolute;
  width: 100%;
  height: 100%;
}

